{% extends 'base.html' %}
{% block content%}
<div class="container">
    <form action="">
        <div class="mb-3">
            <label for="searchMovie" class="form-label">
                Seacrh for Movie:
            </label>
            <input type="text" class="form-control" name="searchMovie">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <p>Searching for {{searchTerm}}</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in movies %}
            <div class="card" style="width: 18rem;">
                <img class="card-image-top" src="{{movie.image.url}}" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <p class="card-text">{{movie.description}}</p>
                    {% if movie.url %}
                        <a href="{{movie.url}}" class="btn btn-primary">movie link</a>
                    {% endif %}
                    <h6>Genre: {{movie.genre}}</h6>
                    <h6>Year: {{movie.year}}</h6>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <br>
    <br>
    <h2>Join our mailing list:</h2>
    <form action="{% url 'signup'%}">
        <div class="mb-3">
            <label for="email" class="form-label">Enter your email:</label>
            <input type="email" class="form-control" name="email">
        </div>
        <button type="submit" class="btn btn-primary">signup</button>
    </form>
</div>
{% endblock content %}